
    .main-img {
        position: relative;
    }

    .hover-img {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        display: none;
    }

    .main-img:hover .hover-img {
        display: block;
    }